extends base.pug

block script 
    script(src="../static/index.js") 

block style 
    style 
        include ../static/about.css
        include ../static/home.css

block content 
    h1#h1 About Me
    
      
    div#image
        img(src="../static/redaboutimg.png")
    
    div#aboutback        
        div#about 
            p  I'm A Full Stack Web Developer,
            div And I'm Computer Science Student, When Talk About Coding - 1 Year of Experience in Web Designing, I Made Some Projects too Like Calculater App, Notes App, News Website and Moving car in CSS.
            span I enjoy taking complex problems and turning them into simple and beautiful interface designs. I also love the logic of and structure of coding and always strive to write elegent and efficient code. Whether it will be HTML, CSS or JavaScript. I have use NodeJS framework for write backend programming And MongoDB for DataBase programe.