extends base.pug

block style 
    style 
        include ../static/home.css

block content
    div#firstsection.sectionOne
        div#div 
          div#span
            span GET EVERY SINGLE SOLUTIONS.  
          p.para I'm A Web Designer/Developer, Aslam
          span Explore my Portfolio Website, No Copied Code used in this site. If you like my Website - write some words in Contact page and Submit.
          div#button
            | Want to Know About me, Go to About page
        //- div#profile
        div#imageback
          img(src="../static/allfinal.png")
        
block script 
    script(src="../static/index.js")       

block foot 
  div#footer
    div#para
          | Designing with Passion While Exploring The World 
    div#para2
          | Any Type of Query & discussion 

