extends base.pug

block style 
    style 
        include ../static/home.css

block content
    div#firstsection.sectionOne
        div#div 
          div#span
            span GET EVERY SINGLE SOLUTIONS.  
          p.para I'm A Web Designer/Developer, Aslam
          span Explore my Portfolio Website, you have any Code related work then  must  Contact me through Contact page. Tell me how would you like this site with submitting Contact form.  write some words in Discription and Submit.
          div#button
            | Want to Know About me, Go to About page
        //- div#profile
        div#imageback
          img(src="../static/allfinal.png")
        
block script 
    script(src="../static/index.js")       

block foot 
  div#footer
    div#para
          | Designing with Passion While Exploring The World 
    div#para2
          | Any Type of Query & discussion 

