extends base.pug

block script 
    script(src="../static/index.js")

block style 
    style 
        include ../static/recentwork.css
        include ../static/home.css

block content 
    div#div
        img(src="../static/macimage.jpeg", alt="")
       
            
