body {
  margin: 0;
  padding: 0;
}
#h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#image {
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  background: #eeeeee;
  border: 1px solid black;
  width: 17%;
  margin: auto;
  overflow: hidden;
  margin-top: 2%;
  border-top-left-radius: 20%;
  border-top-right-radius: 10%;
  border-end-start-radius: 10%;
  border-end-end-radius: 20%;
}
#image img {
  height: 120%;
  position: relative;
  top: 30px;
}
#about {
  margin: 30px;
  font-weight: bold;
  font-size: large;
  max-width: 50%;
  font-family: cursive;
  margin: auto;
  margin-top: 10px;
}
#about p {
  display: flex;
  justify-content: center;
  padding: 15px;
}
#about div {
  display: flex;
  justify-content: center;
  padding: 15px;
  letter-spacing: 1px;
}
#about span {
  display: flex;
  justify-content: center;
  padding: 15px;
  letter-spacing: 1px;
}
#aboutback {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #fce4ec;
}

@media screen and (max-width: 1000px) {
  #h1 {
    font-size: xxx-large;
    padding: 10px;
    transform: translate(100px, 0px);
    letter-spacing: 1px;
    margin-top: 2%;
  }
  .imagekaback {
    width: 60%;
    height: 34rem;
    background: red;
  }
  #image {
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 50%;
    background-color: #e9e8e8;
    border: 1px solid black;
    overflow: hidden;
    border: 20%;
  }
  #image img {
    height: 120%;
    position: relative;
    top: 80px;
  }
  #about {
    max-width: 70%;
    letter-spacing: 1px;
    height: 100%;
    padding: 10px 0;
  }
  #about p {
    font-size: xx-large;
    margin-top: 10px;
    font-family: system-ui;
  }
  #about div {
    display: block;
    font-size: xx-large;
    margin: 20px 0;
    font-family: "Sniglet", cursive;
    letter-spacing: 1px;
  }
  #about span {
    display: block;
    font-size: xx-large;
    margin: 20px 0;
    font-family: "Sniglet", cursive;
    letter-spacing: 1px;
  }
  #aboutback {
    width: 100%;
    border-radius: 5px;
    background-color: #fce4ec;

    color: #1c2f9b;
  }
}
